﻿body {
    width: 80%;
    margin:auto;
}

nav {
    background-color:#191919;
    margin:auto;
}

nav ul{
    list-style-type:none;
    padding-top:4%;
    padding-bottom:3%;
    margin-top:-1%;
}

nav ul li {
    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    color:white;
    font-weight:bold;
    font-size:x-large;
    display:inline;
}

#logo {
    float: left;
    display: inline-block;
    margin-top: -1%;
}

.links {
    float: right;
    margin-top: auto;
    display:inline-block;
    margin-left:-3%;
}

nav ul li a {
    text-decoration: none;
    color:white;
    padding-left:8%;
}

.fixer {
    margin-left: -2%;
}